<!-- Hero section -->
<section id="infinite" class="text-white tm-font-big tm-parallax">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-md tm-navbar" id="tmNav">
    <div class="container">
      <div class="tm-next">
        <a href="#infinite" class="navbar-brand">Infinite Loop</a>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars navbar-toggler-icon"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link tm-nav-link" href="#infinite">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link tm-nav-link" href="#whatwedo">What We Do</a>
          </li>
          <li class="nav-item">
            <a class="nav-link tm-nav-link" href="#testimonials">Testimonials</a>
          </li>
          <li class="nav-item">
            <a class="nav-link tm-nav-link" href="#gallery">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link tm-nav-link" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="text-center tm-hero-text-container">
    <div class="tm-hero-text-container-inner">
      <h2 class="tm-hero-title">Infinite Loop</h2>
      <p class="tm-hero-subtitle">
        Bootstrap 4.0 Parallax Theme
        <br>Free HTML Template by TOOPLATE
      </p>
    </div>
  </div>

  <div class="tm-next tm-intro-next">
    <a href="#whatwedo" class="text-center tm-down-arrow-link">
      <i class="fas fa-2x fa-arrow-down tm-down-arrow"></i>
    </a>
  </div>
</section>

{{ page.what_we_do }}

<section id="testimonials" class="tm-section-pad-top tm-parallax-2">
  <div class="container tm-testimonials-content">
    <div class="row">
      <div class="col-lg-12 tm-content-box">
        <h2 class="text-white text-center mb-4 tm-section-title">Testimonials</h2>
        <p class="mx-auto tm-section-desc text-center">
          Nulla dictum sem non eros euismod, eu placerat tortor lobortis. Suspendisse id velit eu libero pellentesque interdum. Etiam quis congue eros.
        </p>
        <div class="mx-auto tm-gallery-container tm-gallery-container-2">
          <div class="tm-testimonials-carousel">
            <figure class="tm-testimonial-item">
              <img src="{{ directory }}/img/testimonial-img-01.jpg" alt="Image" class="img-fluid mx-auto">
              <blockquote>This background image includes a semi-transparent overlay layer. This section also has a parallax image effect.</blockquote>
              <figcaption>Catherine Win (Designer)</figcaption>
            </figure>

            <figure class="tm-testimonial-item">
              <img src="{{ directory }}/img/testimonial-img-02.jpg" alt="Image" class="img-fluid mx-auto">
              <blockquote>Testimonial section comes with carousel items. You can use Infinite Loop HTML CSS template for your websites.</blockquote>
              <figcaption>Dual Rocker (CEO)</figcaption>
            </figure>

            <figure class="tm-testimonial-item">
              <img src="{{ directory }}/img/testimonial-img-03.jpg" alt="Image" class="img-fluid mx-auto">
              <blockquote>Nulla finibus ligula nec tortor convallis tincidunt. Interdum et malesuada fames ac ante ipsum primis in faucibus.</blockquote>
              <figcaption>Sandar Soft (Marketing)</figcaption>
            </figure>

            <figure class="tm-testimonial-item">
              <img src="{{ directory }}/img/testimonial-img-04.jpg" alt="Image" class="img-fluid mx-auto">
              <blockquote>Curabitur rutrum pharetra lobortis. Pellentesque vehicula, velit quis eleifend fermentum, erat arcu aliquet neque.</blockquote>
              <figcaption>Oliva Htoo (Designer)</figcaption>
            </figure>

            <figure class="tm-testimonial-item">
              <img src="{{ directory }}/img/testimonial-img-02.jpg" alt="Image" class="img-fluid mx-auto">
              <blockquote>Integer sit amet risus et erat imperdiet finibus. Nam lacus nunc, vulputate id ex eget, euismod auctor augue.</blockquote>
              <figcaption>Jacob Joker (CTO)</figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tm-bg-overlay"></div>
</section>

<section id="gallery" class="tm-section-pad-top">
  <div class="container tm-container-gallery">
    <div class="row">
      <div class="text-center col-12">
        <h2 class="tm-text-primary tm-section-title mb-4">Gallery</h2>
        <p class="mx-auto tm-section-desc">
          Praesent sed pharetra lorem, blandit convallis mi. Aenean ornare elit ac metus lacinia, sed iaculis nibh semper. Pellentesque est urna, lobortis eu arcu a, aliquet tristique urna.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="mx-auto tm-gallery-container">
          <div class="grid tm-gallery">
            <a href="{{ directory }}/img/gallery-img-01.jpg">
              <figure class="effect-honey tm-gallery-item">
                <img src="{{ directory }}/img/gallery-tn-01.jpg" alt="Image 1" class="img-fluid">
                <figcaption>
                  <h2><i>Physical Health <span>Exercise!</span></i></h2>
                </figcaption>
              </figure>
            </a>
            <a href="{{ directory }}/img/gallery-img-02.jpg">
              <figure class="effect-honey tm-gallery-item">
                <img src="{{ directory }}/img/gallery-tn-02.jpg" alt="Image 2" class="img-fluid">
                <figcaption>
                  <h2><i>Rain on Glass <span>Second Image</span></i></h2>
                </figcaption>
              </figure>
            </a>
            <a href="{{ directory }}/img/gallery-img-03.jpg">
              <figure class="effect-honey tm-gallery-item">
                <img src="{{ directory }}/img/gallery-tn-03.jpg" alt="Image 3" class="img-fluid">
                <figcaption>
                  <h2><i><span>Sea View</span> Mega City</i></h2>
                </figcaption>
              </figure>
            </a>
            <a href="{{ directory }}/img/gallery-img-04.jpg">
              <figure class="effect-honey tm-gallery-item">
                <img src="{{ directory }}/img/gallery-tn-04.jpg" alt="Image 4" class="img-fluid">
                <figcaption>
                  <h2><i>Dream Girl <span>Thoughts</span></i></h2>
                </figcaption>
              </figure>
            </a>
            <a href="{{ directory }}/img/gallery-img-05.jpg">
              <figure class="effect-honey tm-gallery-item">
                <img src="{{ directory }}/img/gallery-tn-05.jpg" alt="Image 5" class="img-fluid">
                <figcaption>
                  <h2><i><span>Workstation</span> Offices</i></h2>
                </figcaption>
              </figure>
            </a>
            <a href="{{ directory }}/img/gallery-img-06.jpg">
              <figure class="effect-honey tm-gallery-item">
                <img src="{{ directory }}/img/gallery-tn-06.jpg" alt="Image 6" class="img-fluid">
                <figcaption>
                  <h2><i>Just Above <span>The City</span></i></h2>
                </figcaption>
              </figure>
            </a>
            <a href="{{ directory }}/img/gallery-img-01.jpg">
              <figure class="effect-honey tm-gallery-item">
                <img src="{{ directory }}/img/gallery-tn-01.jpg" alt="Image 7" class="img-fluid">
                <figcaption>
                  <h2><i>Another <span>Exercise Time</span></i></h2>
                </figcaption>
              </figure>
            </a>
            <a href="{{ directory }}/img/gallery-img-02.jpg">
              <figure class="effect-honey tm-gallery-item">
                <img src="{{ directory }}/img/gallery-tn-02.jpg" alt="Image 8" class="img-fluid">
                <figcaption>
                  <h2><i>Repeated <span>Image Spot</span></i></h2>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Contact -->
<section id="contact" class="tm-section-pad-top tm-parallax-2">

  <div class="container tm-container-contact">

    <div class="row">

      <div class="text-center col-12">
        <h2 class="tm-section-title mb-4">Contact Us</h2>
        <p class="mb-5">
          Proin enim orci, tincidunt quis suscipit in, placerat nec est. Vestibulum posuere faucibus posuere. Quisque aliquam velit eget leo blandit egestas. Nulla id posuere felis, quis tristique nulla.
        </p><br>
      </div>

      <div class="col-sm-12 col-md-6">
        <form action="" method="get">
          <input id="name" name="name" type="text" placeholder="Your Name" class="tm-input" required />
          <input id="email" name="email" type="email" placeholder="Your Email" class="tm-input" required />
          <textarea id="message" name="message" rows="8" placeholder="Message" class="tm-input" required></textarea>
          <button type="submit" class="btn tm-btn-submit">Submit</button>
        </form>
      </div>

      <div class="col-sm-12 col-md-6">

        <div class="contact-item">
          <a rel="nofollow" href="https://www.tooplate.com/contact" class="item-link">
            <i class="far fa-2x fa-comment mr-4"></i>
            <span class="mb-0">Chat Online</span>
          </a>
        </div>

        <div class="contact-item">
          <a rel="nofollow" href="mailto:mail@company.com" class="item-link">
            <i class="far fa-2x fa-envelope mr-4"></i>
            <span class="mb-0">mail@company.com</span>
          </a>
        </div>

        <div class="contact-item">
          <a rel="nofollow" href="https://www.google.com/maps" class="item-link">
            <i class="fas fa-2x fa-map-marker-alt mr-4"></i>
            <span class="mb-0">Our Location</span>
          </a>
        </div>

        <div class="contact-item">
          <a rel="nofollow" href="tel:0100200340" class="item-link">
            <i class="fas fa-2x fa-phone-square mr-4"></i>
            <span class="mb-0">255-662-5566</span>
          </a>
        </div>

        <div class="contact-item">&nbsp;</div>

      </div>


    </div><!-- row ending -->

  </div>

  <footer class="text-center small tm-footer">
    <p class="mb-0">
      Copyright &copy; 2020 Company Name

      . <a rel="nofollow" href="https://www.tooplate.com" title="HTML templates">Designed by TOOPLATE</a></p>
  </footer>

</section>
